# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore downloaded models
model_assets
.

# Ignore flask session data
flask_session
.

# Ignore audio outputs
static/audio
.

logs
.

# Conda environment files
_conda
conda

validation.py

evaluation.py

*.csv

*.png

invalid_words_statistics.json

.venv/

venv/

Audio 25.wav

audio_1.wav

audio_1917.wav