transformers
torch
torchvision
torchaudio
sentence-transformers
chromadb
scikit-learn
bitsandbytes
style-bert-vits2
soundfile
nltk
flask
flask-session
flask_cors
openai-whisper
pandas
accelerate>=0.26.0
blobfile
sentencepiece
tiktoken